<div *ngIf="!isShow"  class="container mt-5">
    <div class="row">
       
        <div class="col-md-3">
            <br><br>
            <input type="text" name="" class="form-control" #uname placeholder="User Name">
            <br>
            <div class="col">
            <input type="email" name="" class="form-control" #mail placeholder="Email-Address">
                <br>
                <button class="btn btn-success" (click)="onCreateUser(uname,mail)" >Create User </button>
            </div>               

        </div>
        <hr class="mt-3">
        <div class="col mt-3">
            
                <thead class="thead-dark">
                    <tr>
                        <td>Sr. No</td>
                        <td>UserName</td>
                        <td>User Email</td>
                        <td>
                          Actions
                        </td>
                    </tr >
                    <tr *ngFor="let user of users; index as i ;">
                        <td>{{i+1}}</td>
                        <td>{{user.Name}}</td>
                        <td>{{user.Mail}}</td>
                        <td >
                            <button class="btn btn-danger"  (click)="onDeleteUser(i)">Delete</button>
                        </td>
                        <td >
                            <button  (click)="onEditUser(i,user)" class="btn btn-warning">Edit</button>
                        </td>
                    </tr>
                </thead>

           
        </div>
    </div>
</div>
<div *ngIf="isShow" class="container">
     
    <div class="col-md-3">
        <br><br>
        <input type="text" name="" [(ngModel)]="Name" class="form-control" #uname placeholder="User Name">
        <br>
        <div class="col">
        <input type="email" name="" [(ngModel)]="Mail" class="form-control" #mail placeholder="Email-Address">
            <br>
            <button class="btn btn-success" (click)="onChanges(id,uname,mail)">Save Changes </button>
            <button class="btn btn-success" (click)="onCancel()"  >Cancel</button>

        </div>  
</div>