<!---------navbar------------------->
<nav class="navbar navbar-expand-lg text-white" style="background-color: rgb(96,77,159);">
    <div class="container-fluid">
  
      <img src="/assets/images/profile-nav.png" class="img-fluid ml-4" style="width:50px;" alt="CRUD">
      <a class="navbar-brand text-white" style="margin-left: 20px;" >CRUD</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
    </div>
</nav>

